apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  generateName: "{{ operator.name }}-"
  namespace: "{{ operator.namespace }}" 
spec:
  channel: "{{ subscription_channel }}" 
  installPlanApproval: "Automatic"
  source: "{{ operator.subscription.catalogSourceName }}"
  sourceNamespace: "{{ operator.subscription.namespace }}" 
  name: "{{ operator.subscription.name }}"

